body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

.content {
  /* margin: auto; */
  width: 80vw;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 20px;
}
th,
td {
  background-color: #96d4d4;
}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: 40em;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}

form {
  margin-top: 10px;
  margin-left: auto;
}
